/*====================->  Общие  <-======================*/

html, body
{
	margin: 0;
	padding: 0;
	height: 100%;
}
body
{
	background-color: #deefff;
}
ol, ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a, a:hover, a:visited, a:active, a:focus
{
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6
{
	margin: 0;
}

/*=====================->  ////Общие  <-====================*/

/*====================->  Шапка  <-======================*/

/*------------------------------------------------------------------------------>*/

/*=====================->  ////Шапка  <-====================*/

/*====================->  Контент  <-======================*/
.app_tools
{
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	align-items: center;
	-webkit-align-items: center;
	height: 50px;
	margin: 20px 0;
}
/*=====================->  ////Контент  <-====================*/

/*=====================->  Футер  <-====================*/

/*------------------------------------------------------------------------------>*/

/*=====================->  ////Футер  <-====================*/