.course_item
{
	background-color: #376285;
	min-height: 150px;
	padding: 20px;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	align-items: center;
	-webkit-align-items: center;
	margin-bottom: 20px;
	border-radius: 7px;
}
.course_body
{
	margin-right: 20px;
	width: 80%;
	color: #fff;
}
.c_body_head
{
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	align-items: center;
	-webkit-align-items: center;
	margin-bottom: 10px;
}
.c_body_head ul
{
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	align-items: center;
	-webkit-align-items: center;
}
.c_body_head ul li
{
	margin-right: 10px;
	height: 40px;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
}
.c_body_head ul li a
{
	color: #fff;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.c_body_head ul li a:hover
{
	opacity: 0.7;
}
.c_body_head ul li + li
{
	border-left: 2px solid #e7eb96;
	padding-left: 10px;
}
.add_less_item
{
	height: 40px;
	background-color: #fe0a00;
	border: none;
	padding: 0 10px;
	border-radius: 5px;
	color: #e7eb96;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.add_less_item:hover
{
	background-color: #e7eb96;
	color: #fe0a00;
}
